fastapi==0.115.0
uvicorn==0.32.0
python-dotenv==1.0.1
pydantic==2.12.1
requests==2.32.0
sqlalchemy==2.0.36
psycopg2-binary==2.9.11
passlib==1.7.4
bcrypt==4.2.1
python-jose[cryptography]==3.3.0
python-multipart==0.0.17